<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
        <label for="firstname">First Name </label>
        <input type="text" id="firstname" name="firstname" formControlName="firstName">
    </p>

    <div *ngIf="!firstName?.valid && (firstName?.dirty || firstName?.touched)">
        <div *ngIf="firstName?.errors?.['required']">
            First name is required
        </div>

        <div *ngIf="firstName?.errors?.['minlength']">
            Min length is 3
        </div>
    </div>

    <p>
        <label for="lastname">Last Name </label>
        <input type="text" id="lastname" name="lastname" formControlName="lastName">
    </p>

    <p>
        <label for="email">Email </label>
        <input type="text" id="email" name="email" formControlName="email">
    </p>

    <p>
        <label for="phone">Phone </label>
        <input type="text" id="phone" name="phone" formControlName="phone">
    </p>

    <div *ngIf="!phone?.valid && (phone?.dirty ||phone?.touched)">
        <div *ngIf="phone?.errors?.['requiredPhoneChar']">
          {{phone?.errors?.['requiredValue']}}
        </div>
    </div>

    <p>
        Gender
        <input type="radio" value="Female" id="genderF" name="gender" formControlName="gender">
        <label for="genderF">Female </label>

        <input type="radio" value="Male" id="genderM" name="gender" formControlName="gender">
        <label for="genderM">Male</label>
    </p>

    <p>
        <label for="isMarried">Married </label>
        <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
    </p>

    <div formGroupName="address">
        <p>
            <label for="country">Country </label>
            <select id="country" name="country" formControlName="country">
                <option [ngValue]="country.id" *ngFor="let country of countries"> {{ country.name }}</option>
            </select>
        </p>

        <p>
            <label for="city">City </label>
            <input id="city" type="text" name="city" formControlName="city">
        </p>

        <p>
            <label for="street">Street </label>
            <input id="street" type="text" name="street" formControlName="street">
        </p>
    </div>

    <button type="submit" [disabled]="!form.valid">Submit</button>
    
    <p>
        <button type="button" (click)="reset()">Reset</button>
        <button type="button" (click)="setDefaults()">Set defaults</button>
        <button type="button" (click)="patchNames()">Change Name</button>
        <button type="button" (click)="changeAddress()">Change Address</button>

    </p>
</form>
