<form #templateForm="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <label for="firstname">First Name </label>
        <input 
            type="text" 
            id="firstname" 
            name="firstName" 
            required 
            minlength="3" 
            #firstName="ngModel"
            [(ngModel)]="contactForm.firstName"
        >
    </p>

    <p>
        <label for="lastname">Last Name </label>
        <input 
            type="text" 
            id="lastname" 
            name="lastName" 
            required 
            minlength="3" 
            #lastName="ngModel"
            [(ngModel)]="contactForm.lastName"
        >
    </p>

    <p>
        <label for="email">Email </label>
        <input 
            type="text" 
            id="email" 
            name="email" 
            required 
            email 
            #email="ngModel"
            [(ngModel)]="contactForm.email"
        >
    </p>

    <p>
        <label for="phone">Phone </label>
        <input 
            type="text" 
            id="phone" 
            name="phone" 
            required 
            #phone="ngModel"
            [(ngModel)]="contactForm.phone"
        >
    </p>

    <p>
        <label for="isMarried">Married </label>
        <input type="checkbox" id="isMarried" name="isMarried" [(ngModel)]="contactForm.isMarried">
    </p>

    <p>
        Gender
        <input 
            type="radio" 
            value="Female" 
            id="genderF" 
            name="gender" 
            required 
            #female="ngModel"
            [(ngModel)]="contactForm.gender"
        >
        <label for="genderF">Female </label>

        <input 
            type="radio" 
            value="Male" 
            id="genderM" 
            name="gender" 
            required 
            #male="ngModel"
            [(ngModel)]="contactForm.gender"
        >
        <label for="genderM">Male</label>
    </p>

    <p>
        <label for="country">Country </label>
        <select id="country" name="country" required [(ngModel)]="contactForm.country">
            <option [ngValue]="country.id" *ngFor="let country of countries"> {{ country.name }}</option>
        </select>
    </p>

    <div ngModelGroup="address">
        <p>
            <label for="city">City </label>
            <input id="city" type="text" name="city" required [(ngModel)]="contactForm.address.city">
        </p>

        <p>
            <label for="street">Street </label>
            <input id="street" type="text" name="street" required [(ngModel)]="contactForm.address.street">
        </p>
    </div>

    <button type="submit" [disabled]="!templateForm.valid">Submit</button>
    
    <p>
        <button (click)="reset()">Reset</button>
        <button (click)="setDefaults()">Set defaults</button>
    </p>
</form>
