.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.control-container {
    margin: 5px;
}

input, textarea {
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 15px;
}

.submit-btn {
    align-self: flex-start;
    padding: 10px;
    margin: 5px;
    border: 1px solid gainsboro;
    border-radius: 4px;
}

fieldset {
    border: none;
    padding: 0;
}

.error {
    color: red;
    font-size: small;
    padding: 5px 0px 5px 10px;
}